<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Team 7 - Mines Athletics</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Navigation -->
    <nav style="background-color:#21314d" class="navbar navbar-expand-lg navbar-dark /*bg-dark*/ fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Mines Athletics</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#football">Football</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#vball">Volleyball</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#softball">Softball</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#basketball">Basketball</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header style="background-color:#99ccff" class="/*bg-primary*/ text-white">
        <div class="container text-center">
            <h1>Welcome to the Mines Athletics page</h1>
            <p class="lead">A landing page for a variety of Mines varsity sports</p>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 75%; margin: auto;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#football" class="js-scroll-trigger"><img class="d-block w-100" src="images/football.jpeg" alt="First slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#vball" class="js-scroll-trigger"><img class="d-block w-100" src="images/volleyball.jpeg" alt="Fourth slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#softball" class="js-scroll-trigger"><img class="d-block w-100" src="images/softball.jpeg" alt="Second slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#basketball" class="js-scroll-trigger"><img class="d-block w-100" src="images/basketball.jpeg" alt="Third slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
            </div>
        </div>
    </header>
    <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>About Mines Athletics</h2>
                        <p class="lead">A Program of Excellence </p>
                        <img src="images/All_sports_7.png" class="img-fluid img-thumbnail" alt="Responsive image">
                        <p>In the  past two academic years, Mines has won back-to-back RMAC All-Sports Competition Cups. This essentially means that the summation of the mines athletic program is ranked higher than any other school in the Rocky Mountain Athletic Confrence. This is not what some would expect, considering that Mines is a rigourous engineering institution. However, it's also a testement to the kinds of people a school like Mines attracts. Below is just a snipit of some sports programs that the Mines athletics provides. Click on the navbar above, the image on the carousel, or scroll down to learn more about these sports propgrams.   </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="football" class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-4 ">
                            <h2>Football</h2>
                            <p class="lead">Mines Football is entering it's fourth season with new Head Coach Greg Brandon. Since taking the helm, Brandom has led the Orediggers to an overall record of 25-10 and one RMAC championship during the 2016 season. This past 2017 season didn't go as planned. Mines boasted a 7-4 record that simply wasnt up to par. However, the Orediggers look ahead to Springball in order to prepare to make another run for an RMAC Championship in the 2018 season to come.
                            </p>
                        </div>
                        <div class="col-lg-8" >
                            <img src="images/football_rmac_champs.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                            
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                            <br>
                        <h2>2018 Mines Football Schedule</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Opponent</th>
                                    <th>Date</th>
                                    <th>Confrence</th>
                                    <th>Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Adams State</td>
                                    <td>Saturday, SEP 1</td>
                                    <td>RMAC</td>
                                    <td>HOME</td>
                                </tr>
                                <tr>
                                    <td>Black Hills State</td>
                                    <td>Saturday, SEP 8</td>
                                    <td>RMAC</td>
                                    <td>Spearfish, SD</td>
                                </tr>
                                <tr>
                                    <td>CSU-Pueblo</td>
                                    <td>Saturday, SEP 15</td>
                                    <td>RMAC</td>
                                    <td>HOME</td>
                                </tr>
                                <tr>
                                    <td>New Mexico Highlands</td>
                                    <td>Saturday, SEP 22</td>
                                    <td>RMAC</td>
                                    <td>Las Vegas, NM</td>
                                </tr>
                                <tr>
                                    <td>Colorado Mesa</td>
                                    <td>Saturday, SEP 29</td>
                                    <td>RMAC</td>
                                    <td>HOME</td>
                                </tr>
                                <tr>
                                    <td>Western State</td>
                                    <td>Saturday, OCT 6</td>
                                    <td>RMAC</td>
                                    <td>Gunnison, CO</td>
                                </tr>
                                <tr>
                                    <td>Fort Lewis</td>
                                    <td>Saturday, OCT 13</td>
                                    <td>RMAC</td>
                                    <td>Durango, CO</td>
                                </tr>
                                <tr>
                                    <td>Azusa Pacific</td>
                                    <td>Saturday, OCT 20</td>
                                    <td>Non-Confrence</td>
                                    <td>HOME</td>
                                </tr>
                                <tr>
                                    <td>South Dakota Mines</td>
                                    <td>Saturday, OCT 27</td>
                                    <td>RMAC</td>
                                    <td>HOME</td>
                                </tr>
                                <tr>
                                    <td>Dixie State</td>
                                    <td>Saturday, NOV 3</td>
                                    <td>RMAC</td>
                                    <td>ST. Geroge, UT</td>
                                </tr>
                                <tr>
                                    <td>Chadron State</td>
                                    <td>Saturday, NOV 10</td>
                                    <td>RMAC</td>
                                    <td>HOME</td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
       
    <section style="background-color:#BABBBF; color:#28324F;" id="vball">
        <div class="container">
            <div class="row">
                <h1>Volleyball</h1>
                <p>Mines Volleyball is coached by Jamie Skadeland who finished her 10th season as the head volleyball coach – and 11th year overall – at Colorado School of Mines in 2017-18. Skadeland spent the 2007 season as an assistant coach for the Orediggers before taking over as the head coach in 2008.</p>
                <p>Through 10 seasons at the helm, Skadeland has guided Mines to a 232-81 overall record (.741 winning percentage), as well as a 148-36 mark in RMAC matches (.804 winning percentage). Under her direction, Mines won four consecutive RMAC regular season championships (2012-15), the program’s first ever RMAC Tournament Championships (2015 and 2016) and advanced to nine straight NCAA tournaments.</p>
                <p>Skadeland brought Mines its fifth RMAC regular season championship in 2017 as the Orediggers recorded at least 25 wins for a sixth-straight season, going 25-6 overall and 17-1 in RMAC play. The Orediggers were ranked as high as No. 16 in the AVCA Top 25 and finished the season ranked No. 21 in NCAA Division II. Mines qualified for their ninth-straight NCAA tournament as the fourth seed in the South Central Region and advanced to the second round of the tournament thanks to a first-round win over fifth-seeded Angelo State. </p>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Press-Release 12/05/2017</h2>
                    <img src="images/Marina_Hansen_1.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                    <blockquote class="blockquote">
                        <p>Colorado School of Mines senior setter Marina Hansen has been named an all-American by both the AVCA and D2CCA. Hansen earned a first-team nod from the AVCA, and is a second-team selection by the D2CCA. Hansen was also named First-Team All-Region by both organizations. Mines has now had five student-athletes earn 11 AVCA All-American selections in program history, all coming since 2011. She is the third AVCA First-Team selection for the Orediggers, joining Melanie Wannamaker (2013) and Danielle Johnson-Hazlewood (2014). Hansen led the RMAC and the region in assists per set at 12.96, a clip that puts her second in NCAA Division II. A five-time RMAC Setter of the Week this season and the RMAC Setter of the Year, Hansen was also one of the RMAC's top servers at 0.35 aces per set. Her setting helped power the Mines offense to national top-10 statistical rankings in hitting percentage (.272, 8th), kills per set (14.91, 5th), and assists per set (14.07, 4th)</p>
                        <footer class="blockquote-footer">From Mines Athletics Press Release</footer>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>All-Americans</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Honor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Marina</td>
                                <td>Hansen</td>
                                <td>2017 AVCA First-Team All-American</td>
                            </tr>
                            <tr>
                                <td>Megan</td>
                                <td>Peterson</td>
                                <td>2014 AVCA Honorable Mention All-American
                                </td>
                            </tr>
                            <tr>
                                <td>Alana</td>
                                <td>Winfield</td>
                                <td>2015 AVCA Second Team All-American
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Danielle
                                </td>
                                <td>Johnson-Hazelwood</td>
                                <td>2015 AVCA Second Team All-American
                                </td>
                            </tr>
                            <tr>
                                <td>Melanie</td>
                                <td>Wanamaker</td>
                                <td>2013 AVCA First Team All-American
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="vballcards" class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="images/marina_headshot.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Marina Hansen</h4>
                            <p class="card-text">Marina was an All-American setter for CSM in 2017.</p>
                            <a href="http://minesathletics.com/roster.aspx?rp_id=4826" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="images/Alanna_Winfield.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Alanna Winfield</h4>
                            <p class="card-text">Winfield was an All-American OPP/MB in 2015</p>
                            <a href="http://minesathletics.com/roster.aspx?rp_id=3624" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="images/hazelwood.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Danielle Johnson-Hazelwood</h4>
                            <p class="card-text">Johnson-Hazelwood was an All-American setter in 2015</p>
                            <a href="http://minesathletics.com/roster.aspx?rp_id=2974" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
			<br>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="alert alert-success">
                        <strong>Congrats!</strong> You've finished the volleyball section. <span class="badge badge-secondary">Yass!!!</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="softball">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6 jumbotron">
                          <h2>Softball</h2>
                          <p class="lead">Mines was chosen second in the RMAC preseason coaches' poll, announced on Monday. The Orediggers (32-15 in 2017) earned 103 points in the poll to sit second behind Colorado Mesa, which earned 121 points and 11 first-place votes. MSU Denver (102), Regis (90), and Chadron State (80) round out the top five. <br> <br>Mines is coming off a terrific 2017 season that saw them finish second in the RMAC regular-season standings while advancing to the RMAC Tournament title game. The Orediggers went 32-15 overall under RMAC Coach of the Year Leah Glasgow, their best record since 2013, and advanced to the RMAC Tournament final for the first time since that same year.<br><br>Mines is looking to pick up where they left off and compete for an RMAC title. This weekend (2/24-2/25), Mines plays Fort Lewis for their first weekend of RMAC competition.</p>
                      </div>
                      <div class="col-lg-6">
                        <div class="col-lg-6" >
                          <img class="rounded" src="images/softballTeam3.jpeg" alt="image of softball team" style="width: 400px; margin-bottom: 10%;"/>
                        </div>
                        <div class="col-lg-6">
                          <img class="rounded" src="images/softballTeam.jpeg" alt="image of softball team" style="width: 400px; margin-bottom: 10%;"/>
                        </div>
                        <div class="col-lg-6">
                          <img class="rounded" src="images/softballTeam2.jpeg" alt="image of softball team" style="width: 400px; margin-bottom: 10%;"/>
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>
              </div>
              <div class="container">
                <h2>2018 Roster</h2>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#roster">Click to view roster</button>
                <div class="collapse in" id="roster">
                <table class="table table-sm ">
                  <thead class="thead-inverse" style="background: #21314d; color: white;">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Year</th>
                      <th scope="col">Position</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Hanna</td>
                      <td>Mawlawi</td>
                      <td>Freshman</td>
                      <td>INF</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Pua</td>
                      <td>Fujinaga</td>
                      <td>Senior</td>
                      <td>INF</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Dani</td>
                      <td>Valerio</td>
                      <td>Junior</td>
                      <td>OF</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Brielle</td>
                      <td>Asato</td>
                      <td>Senior</td>
                      <td>OF</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Sydney</td>
                      <td>Marchando</td>
                      <td>Freshman</td>
                      <td>P/UTIL</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>Hallie</td>
                      <td>Smith</td>
                      <td>Senior</td>
                      <td>P</td>
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td>Kelsey</td>
                      <td>Buechler</td>
                      <td>Sophomore</td>
                      <td>OF</td>
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td>Kylie</td>
                      <td>Redding</td>
                      <td>Freshman</td>
                      <td>P</td>
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td>Sonoma</td>
                      <td>Toot</td>
                      <td>Senior</td>
                      <td>OF</td>
                    </tr>
                    <tr>
                      <th scope="row">10</th>
                      <td>Boston</td>
                      <td>Ludlow</td>
                      <td>Junior</td>
                      <td>1B</td>
                    </tr>
                    <tr>
                      <th scope="row">11</th>
                      <td>Katie</td>
                      <td>Leiker</td>
                      <td>Junior</td>
                      <td>INF</td>
                    </tr>
                    <tr>
                      <th scope="row">12</th>
                      <td>Loren</td>
                      <td>Dempsey</td>
                      <td>Junior</td>
                      <td>C</td>
                    </tr>
                    <tr>
                      <th scope="row">13</th>
                      <td>Clara</td>
                      <td>Bewley</td>
                      <td>Sophomore</td>
                      <td>INF</td>
                    </tr>
                    <tr>
                      <th scope="row">14</th>
                      <td>Clara</td>
                      <td>Larson</td>
                      <td>Sophomore</td>
                      <td>INF</td>
                    </tr>
                    <tr>
                      <th scope="row">15</th>
                      <td>Stefanie</td>
                      <td>Brunello</td>
                      <td>Sophomore</td>
                      <td>UTIL</td>
                    </tr>
                    <tr>
                      <th scope="row">16</th>
                      <td>Maddie</td>
                      <td>Rogers</td>
                      <td>Junior</td>
                      <td>P</td>
                    </tr>
                    <tr>
                      <th scope="row">18</th>
                      <td>Kara</td>
                      <td>Jones</td>
                      <td>Junior</td>
                      <td>C</td>
                    </tr>
                    <tr>
                      <th scope="row">19</th>
                      <td>Claire</td>
                      <td>Stringfellow</td>
                      <td>Sophomore</td>
                      <td>P</td>
                    </tr>
                    <tr>
                      <th scope="row">20</th>
                      <td>Megan</td>
                      <td>Dickson</td>
                      <td>Freshman</td>
                      <td>C</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
          </section>
		  
		  <section style="background-color:#BABBBF; color:#28324F;" id="basketball">
			<div class="container">
					
					<div class="row">
						<div class="col-md">
							<h1>Basketball</h1>
							<p class="lead">Mines basketball is coached by <a href="http://minesathletics.com/coaches.aspx?rc=136&path=mbball">Pryor Orser</a>, who has been the head coach for basketball for 16 years, alongside his assistant coaches Brad Schick and Scott Hill. Since Orser started coaching in 2001, his coaching record is 292-173, and has earned 4 RMAC Coach of the Year honors.</p>
							<p class="lead">Mines basketball has an impressive list of records and achievements: having 7 all-American athletes, a winning streak record of 17 games, winning season crowns for 2010-11, 2011-12, 2014-15 and 2016-17, and more. You can read more about their full accomplishments and team/player statistics <a href="http://minesathletics.com/sports/2016/6/3/mens-basketball-records.aspx">here</a>.</p>
						</div>
						<div class="col-lg">
							<img style="width:100%" class="rounded img-fluid" src="images/bbteam.jpg"/>
						</div>
					</div>
					<br>
					<div style="background-color:#99ccff" class="alert alert-info alert-dismissable fade show">
						<button type="button" class="close float-right" data-dismiss="alert">&times;</button>
						<strong>Hey! </strong> <a href="http://minesathletics.com/archives.aspx?path=mbball" class="alert-link">Don't forget to see all of the news for Mines Basketball!</a>
					</div>
					<div class="jumbotron">
						<h3>Latest News</h3>
						<div class="row">
							<div class="col-sm">
								<img class="rounded w-80 img-fluid" src="images/duke.jpg"/>
								<p><small>2/19/18</small></p>
							</div>
							<div class="col-sm">
								<p class="lead">Douglas Tabbed RMAC Defensive Player of the Week:</p>
								<p>Duke Douglas was named the RMAC Defensive Player of the Week for his performance in the 2-0 game this weekend for the Colorado School of Mines. During the game against Fort Lewis, he made three blocks, also making four rebounds in a game against New Mexico Highlands.</p>
								<p><a href="http://minesathletics.com/news/2018/2/19/mens-basketball-douglas-tabbed-rmac-defensive-player-of-the-week.aspx?path=mbball">Read more...</a></p>
							</div>
						</div>
					</div>
			</div>
		  </section>
    <!-- The Modal -->
    <div class="modal fade" id="socmed">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Follow Mines Athletics</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row align-items-center justify-content-center">
                        <a href="https://twitter.com/minesathletics"><img class="w-100 img-fluid" src="images/twitter.ico"/></a>
                        <a href="https://facebook.com/minesathletics"><img class="w-100 img-fluid" src="images/facebook.ico"/></a>
                        <a href="https://instagram.com/minesathletics"><img class="w-100 img-fluid" src="images/instagram.png"/></a>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="mx-auto">
                        <button type="button" style="background-color:orange; color:black" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer style="background-color:#21314d" class="py-5 /*bg-dark*/">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <button type="button" style="background-color:orange; color:black" class="btn btn-outline-warning" data-toggle="modal" data-target="#socmed">
                    Social Media
                </button>
            </div>
            <br>
            <p class="m-0 text-center text-white">All content displayed is property of the Colorado School of Mines and is sourced from their <a href="http://minesathletics.com">athletic website</a></p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>
</body>

</html>